.env
/.env
./.env

cortex_v2_example_master
/cortex_v2_example_master
./cortex_v2_example_master

emotiv_tracking
/emotiv_tracking
./emotiv_tracking

session.json
/session.json
./session.json

tokens.txt
/tokens.txt
./tokens.txt

components/some.txt
/components/some.txt
./components/some.txt