.env
/.env
./.env



emotiv_tracking
/emotiv_tracking
./emotiv_tracking

session.json
/session.json
./session.json

tokens.txt
/tokens.txt
./tokens.txt

components/some.txt
/components/some.txt
./components/some.txt